# Node artifacts
node_modules/

# Compiled output
/dist/
/tmp/
/out-tsc/

# IDE/editor files
.idea/
.vscode/
*.swp

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Angular specific files
/.angular.json
/angular-cli.json
*.ngc
*.ngfactory.ts
*.ngsummary.json

# Tests
/*.spec.ts
