<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokemon Cards <img class="header-img" src="assets/images/pokemon.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let pokemon of pokemonList">
      <img class="pokemoncard-img" src="{{pokemon.img}}"/>
      <div class="pokemoncard-card" [ngStyle]="{'background-color': pokemonListService.randomCardColor(pokemon.type)}">
        <ion-card-header>
          <div class="title"><strong>{{pokemon.name}}</strong></div>
          <div [ngStyle]="{'background-color': pokemonListService.changeTypeColor(pokemon.type)}">
            <strong>
              {{pokemon.type}}</strong>
          </div>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col><strong>Power:</strong>&ensp;{{pokemon.power}}</ion-col>
            <ion-col><strong>Attack:</strong>&ensp;{{pokemon.attack}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><strong>Defence:</strong>&ensp;{{pokemon.defence}}</ion-col>
            <ion-col><strong>Speed:</strong>&ensp;{{pokemon.speed}}</ion-col>
          </ion-row>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>