.pokemoncard-card {
    width: 44%;
}

.pokemoncard-img {
    padding-left: 12%;
    padding-top: 5%;
    height: 100px;
}

#container {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.pokemoncard-type {
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2%;
}