<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cards Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="!startCardGame">
      <div *ngFor="let singleCard of cardStack" (click)="startGame()">
        <ion-card class="cardgame-cardbefore"
          [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
          <img src="assets/images/cardback.jpg" />
        </ion-card>
      </div>
      <div class="box arrow-bottom">
        Click to Distribute Cards
      </div>
    </div>

    <div *ngIf="startCardGame">
      <div class="boxtwo arrow-bottom">
        Select Stats to Bet
      </div>

      <div *ngFor="let singleCard of cardYou">
        <ion-card class="cardgame-cardafteryou" 
          [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
          <img class="cardgame-youimage" src={{singleCard.pokemon.img}} />
          <div class="cardgame-card"
            [ngStyle]="{'background-color': pokemonListService.randomCardColor(singleCard.pokemon.type)}">
            <ion-card-header>
              <ion-card-title><strong>{{singleCard.pokemon.name}}</strong></ion-card-title>
              <ion-card-subtitle
                [ngStyle]="{'background-color': pokemonListService.changeTypeColor(singleCard.pokemon.type)}">
                <strong>
                  {{singleCard.pokemon.type}}
                </strong>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col (click)="compareCard('power')"><strong>Power:</strong>&ensp;{{singleCard.pokemon.power}}</ion-col>
                <ion-col (click)="compareCard('attack')"><strong>Attack:</strong>&ensp;{{singleCard.pokemon.attack}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col (click)="compareCard('defence')"><strong>Defence:</strong>&ensp;{{singleCard.pokemon.defence}}</ion-col>
                <ion-col (click)="compareCard('speed')"><strong>Speed:</strong>&ensp;{{singleCard.pokemon.speed}}</ion-col>
              </ion-row>
            </ion-card-content>
          </div>
        </ion-card>
      </div>


      <div *ngIf="!cardPresentAI">
        <ion-card  *ngFor="let singleCard of cardStack" class="cardgame-cardafterai"
          [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
          <img class="cardgame-aiimage" src="assets/images/cardback.jpg" />
        </ion-card>
      </div>

      <div *ngIf="cardPresentAI">
        <div *ngFor="let singleCard of cardYou; let i = index">                    
          <ion-card *ngIf="i==cardYou.length-1" class="cardgame-cardafterai"
            [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
            <img class="cardgame-youimage" src={{cardAI.img}} />
            <div class="cardgame-card"
              [ngStyle]="{'background-color': pokemonListService.randomCardColor(cardAI.type)}">
              <ion-card-header>
                <ion-card-title><strong>{{cardAI.name}}</strong></ion-card-title>
                <ion-card-subtitle [ngStyle]="{'background-color': pokemonListService.changeTypeColor(cardAI.type)}">
                  <strong>
                    {{cardAI.type}}
                  </strong>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col><strong>Power:</strong>&ensp;{{cardAI.power}}</ion-col>
                  <ion-col><strong>Attack:</strong>&ensp;{{cardAI.attack}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><strong>Defence:</strong>&ensp;{{cardAI.defence}}</ion-col>
                  <ion-col><strong>Speed:</strong>&ensp;{{cardAI.speed}}</ion-col>
                </ion-row>
              </ion-card-content>
            </div>
          </ion-card>

          <ion-card *ngIf="i!=cardYou.length-1" class="cardgame-cardafterai"
          [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
          <img class="cardgame-aiimage" src="assets/images/cardback.jpg" />
        </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>