.cardgame-cardbefore {
    position: absolute;
    width: 48%;  
    top: 27%;
    left: 0;
    right: 0;
    margin: auto;
}

#container {
    padding: 5px;
}

.box {
    width: 46%;
    height: 11%;
    background-color: #262626;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 14%;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
  
.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 50px;
    bottom: -15px;
    border-top: 15px solid #262626;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}


.cardgame-cardafteryou {
    position: absolute;
    width: 40%;  
    top: 12%;
    left: 0;
    right: 0;
    margin: auto;
}

.cardgame-cardafterai {
    position: absolute;
    width: 40%;  
    top: 62%;
    left: 0;
    right: 0;
    margin: auto;
}
