<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cards Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="cardgame-before">
      <div class="cardgame-stack" *ngFor="let singleCard of cardStack">
        <ion-card [ngStyle]="{'transform': 'translate(' + singleCard.newVal + 'px,' + singleCard.newVal + 'px)'}">
          <img src={{singleCard.srcImg}} class="cardgame-img" />
        </ion-card>
      </div>
      <div class="box arrow-bottom">
        Click to Distribute Cards
      </div>
    </div>
  </div>
</ion-content>